.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  margin: 2%;
}
.nav nav {
  display: flex;
  width: 100%;
  height: 100px;
}
.nav img {
  height: 75px;
  margin-left: 10%;
  align-self: center;
}
.leftCont {
  width: 50%;
  display: flex;
}
.links {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 50%;
  height: 100%;
}
.links a {
  height: 20px;
  color: black;
  align-self: center;
  text-decoration: none;
  font-weight: 500;
}